h1{
    color: mediumblue;
    text-align: center;
}

.portimg {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

a.hello:link, a.me:link, a.resume:link {
    color: blue;
}

a.hello:visited, a.me:visited, a.resume:visited {
    color: red;
}

a.hello:hover, a.me:hover, a.resume:hover {
    color: red;
}

